/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
}

header {
    background: linear-gradient(#ff9800cc, rgba(255, 152, 0, 0.8)), url('header-bg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    border-bottom: 1pm solid #ddd;
    /* width: 100%; */
}

h3 {
    text-align: center;
    font-size: 1.4em; /* Adjust the size as needed */
    margin: 0.5em 0;
}

.small-image {
    max-width: 1000px !important; /* Adjust the size as needed */
    height: auto !important;
}

.logo {
    max-width: 50px;
    height: auto;
    margin-top: 0.5em;
    align-self: center;
}

header .left, header .center, header .right {
    flex: 1;
    text-align: center;
}

header .left {
    text-align: left;
}

header .right {
    text-align: right;
}

header h1, header p {
    margin: 0;
    font-size: 1em;
}

header h1 {
    font-weight: bold;
}

header p {
    font-size: 0.9em;
    color: #666;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2em;
    background: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #ff9800;
    font-size: 2em;
    margin: 0.5em 0 0.5em 0; /* Reset top margin */
    text-align: center;
}

#countdown {
    background: #ffecd4; /* Solid background color */
    padding: 0em 0 0 0.5;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 2em 0em 0em 0em;
    border: 2px solid #ffb861;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

#countdown-timer {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
.event-date {
    font-size: 2em; /* Adjust the size as needed */
    font-weight: bold;
    color: #ffffff;
    margin-top: 0em;
}

.small-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.center-link {
    text-align: center;
    margin: 20px 0; /* Optional: Add some margin for spacing */
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 139, 50, 0.2);
    padding: 0.5em;
    border-radius: 5px;
    min-width: 70px;
}

.time {
    font-size: 2em;
    font-weight: bold;
}

.label {
    font-size: 1em;
    color: #666;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-container img {
    width: calc(33.333% - 20px);
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e68900;
}